{% extends 'base.html' %}

{% block content %}
    <div id="hero" class="d-flex align-items-center">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
            <div class="text-center">
                <a href="{% url 'mailings:client_create' %}" class="btn-get-started scrollto">Добавить нового
                    клиента</a>
            </div>
        </div>
    </div>
    <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Клиенты</h2>
                <p>Участники рассылки</p>
            </div>

            <div class="row">

                {% for object in object_list %}

                <div class="col-lg-4 col-md-6" data-aos="zoom-im" data-aos-delay="100">
                    <div class="box">
                        <h3>{{ object.name }}<br>({{ object.email }})</h3>

                        <ul>
                            <li>{{ object.comment }}</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="{% url 'mailings:client_update' object.pk %}" class="btn-buy">UPDATE</a>
                            <a href="{% url 'mailings:client_delete' object.pk %}" class="btn-buy">DELETE</a>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>

        </div>
    </section><!-- End Pricing Section -->

{% endblock %}